.logo {
	width:150px;
	height:36px;
	image-rendering: crisp-edges;	
}
.no-bg {
    background:none !important;	
}
.btn-nav>a:focus {
    text-decoration: none;
    background-color: #83e858 !important
}	
.btn-nav>a:hover {
    text-decoration: none;
    background-color: #83e858 !important
}	
@media (min-width: 1700px) {
.spacer-lg {
padding-top:100px;	
}
}
@media (min-width: 1200px) {
.navbar {
    position: fixed;
	top: 0;
  	left: 0;
  	z-index: 9999;
  	width: 100%;
  	height: 50px;
  	background-color: #ffffff;
}

.container {
	width:780px;
}

}
@media (max-width: 1200px) {

.content-block {
    height: 500px
}
.content-block-4 {
    height: 60px  !important
}

}
@media (max-width: 992px) {

.spacer-xs{
display:none !important;	
}
.col-lg-2{
	display:none !important;	
}
.content-block {
    height: 500px
}
.content-block-3 {
    height: 670px !important
}
.content-block-4 {
    height: 30px  !important
}

}
@media (max-width: 768px) {

.container {
	width:680px;
}
.spacer-xs{
display:none;	
}
.col-lg-2{
	display:none !important;	
}
.mobile-img{
	display:none !important;	
}
.content-block {
    height: 500px
}
.content-block-3 {
    height: 650px !important
}
.content-block-4 {
    height: 30px  !important
}

}
@media (max-width: 480px) {

.container {
	width:400px;
}
.spacer-xs{
display:none;	
}
.col-lg-2{
	display:none !important;	
}
.mobile-img{
	display:none !important;	
}
.content-block {
    height: 600px
}
.carousel {
    height: 600px
}

}
.error-container {
    margin-top: 1em;
    text-align: center
}
.error-code {
    display: inline-block;
    vertical-align: top;
    font-family: "HelveticaNeueLTStd","Helvetica Neue" , arial, sans-serif;
    font-size: 100px;
    font-weight: 500;
    line-height: .7em
}
.error-details {
    display: inline-block;
    vertical-align: top;
    margin-top: 4em
}
.error-details ul {
    text-align: left
}
@media (min-width: 768px) {
    .error-container {
        margin-top: 2.5em
    }
    .error-details {
        width: 250px;
        margin-top: 0;
        margin-left: 25px;
        text-align: left
    }
}
@media (min-width: 992px) {
    .error-container {
        margin-top: 5em
    }
    .error-code {
        font-size: 150px
    }
    .error-details {
        width: 350px;
        margin-left: 50px
    }
}
.push-down-more
{
		margin-top:100px !important;	
}