body {
    padding: 0;
    margin: 0;
    font-family: "HelveticaNeueLTStd","Helvetica Neue" , arial, sans-serif;
	
}
a.link {
	color:hsla(214,100%,35%,1.00);
	font-weight:600
}
p {
    line-height: 1.7em;
	font-size:14px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .75em;
    font-family: "HelveticaNeueLTStd","Helvetica Neue" , arial, sans-serif
}
.semibold,
label {
    font-weight: 600
}
.light {
    color: #efefef
}
.dark {
    color: #333333
}
.text-primary {
    color: #d74b4b
}
a.text-primary:hover {
    color: #c42b2b
}
.text-secondary {
    color: #6685a4
}
a.text-secondary:hover {
    color: #516c87
}
.text-tertiary {
    color: #afafaf
}
a.text-tertiary:hover {
    color: #969696
}
.text-success {
    color: #5cb85c
}
a.text-success:hover {
    color: #449d44
}
.text-warning {
    color: #f0ad4e
}
a.text-warning:hover {
    color: #ec971f
}
.text-danger {
    color: #d9534f
}
a.text-danger:hover {
    color: #c9302c
}
.text-info {
    color: #5bc0de
}
a.text-info:hover {
    color: #31b0d5
}
.text-sm {
    font-size: 11px
}
.text-md {
    font-size: 13px
}
.text-lg {
    font-size: 18px
}
.text-xl {
    font-size: 24px
}
.spaced {
    padding-left:10px;
	padding-right:10px
}
.full-width {
        width: 100%;
		float:left;
}

.bgwhite{
 background:#ffffff;
}
.content-block {
    height: 500px
}
.content-block-2 {
    height: 650px
}
.content-block-3 {
    height: 720px
}
.content-block-4 {
    height: 60px
}

.btn-facebook,
.btn-primary,
.btn-secondary,
.btn-tertiary,
.btn-twitter {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075)
}
.btn-facebook.active,
.btn-facebook:active,
.btn-primary.active,
.btn-primary:active,
.btn-secondary.active,
.btn-secondary:active,
.btn-tertiary.active,
.btn-tertiary:active,
.btn-twitter.active,
.btn-twitter:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}
.btn-primary {
    color: #fff;    
	background-color: #66b545;
    border-color: #398439
}
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #83e858;
    border-color: #75cf4e
}
.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    background-image: none
}
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #83e858;
    border-color: #75cf4e
}
.btn-primary .badge {
    color: #337ab7;
    background-color: #fff
}
.btn-secondary {
    color: #fff;
    background-color: #6685a4;
    border-color: #54718d;
    width: auto;
}
.btn-secondary.active,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover,
.open>.dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: #516c87;
    border-color: #3d5267
}
.btn-secondary.active,
.btn-secondary:active,
.open>.dropdown-toggle.btn-secondary {
    background-image: none
}
.btn-secondary.disabled,
.btn-secondary.disabled.active,
.btn-secondary.disabled.focus,
.btn-secondary.disabled:active,
.btn-secondary.disabled:focus,
.btn-secondary.disabled:hover,
.btn-secondary[disabled],
.btn-secondary[disabled].active,
.btn-secondary[disabled].focus,
.btn-secondary[disabled]:active,
.btn-secondary[disabled]:focus,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary,
fieldset[disabled] .btn-secondary.active,
fieldset[disabled] .btn-secondary.focus,
fieldset[disabled] .btn-secondary:active,
fieldset[disabled] .btn-secondary:focus,
fieldset[disabled] .btn-secondary:hover {
    background-color: #6685a4;
    border-color: #54718d
}
.btn-secondary .badge {
    color: #6685a4;
    background-color: #fff
}
.btn-tertiary {
    color: #fff;
    background-color: #bcbcbc;
    border-color: #a8a8a8
}
.btn-tertiary.active,
.btn-tertiary.focus,
.btn-tertiary:active,
.btn-tertiary:focus,
.btn-tertiary:hover,
.open>.dropdown-toggle.btn-tertiary {
    color: #fff;
    background-color: #a3a3a3;
    border-color: #898989
}
.btn-tertiary.active,
.btn-tertiary:active,
.open>.dropdown-toggle.btn-tertiary {
    background-image: none
}
.btn-tertiary.disabled,
.btn-tertiary.disabled.active,
.btn-tertiary.disabled.focus,
.btn-tertiary.disabled:active,
.btn-tertiary.disabled:focus,
.btn-tertiary.disabled:hover,
.btn-tertiary[disabled],
.btn-tertiary[disabled].active,
.btn-tertiary[disabled].focus,
.btn-tertiary[disabled]:active,
.btn-tertiary[disabled]:focus,
.btn-tertiary[disabled]:hover,
fieldset[disabled] .btn-tertiary,
fieldset[disabled] .btn-tertiary.active,
fieldset[disabled] .btn-tertiary.focus,
fieldset[disabled] .btn-tertiary:active,
fieldset[disabled] .btn-tertiary:focus,
fieldset[disabled] .btn-tertiary:hover {
    background-color: #bcbcbc;
    border-color: #a8a8a8
}
.btn-tertiary .badge {
    color: #bcbcbc;
    background-color: #fff
}
.btn-inverse {
    color: #fff;
    background-color: #354b5e;
    border-color: #263644
}
.btn-inverse.active,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover,
.open>.dropdown-toggle.btn-inverse {
    color: #fff;
    background-color: #23313d;
    border-color: #10171d
}
.btn-inverse.active,
.btn-inverse:active,
.open>.dropdown-toggle.btn-inverse {
    background-image: none
}
.btn-inverse.disabled,
.btn-inverse.disabled.active,
.btn-inverse.disabled.focus,
.btn-inverse.disabled:active,
.btn-inverse.disabled:focus,
.btn-inverse.disabled:hover,
.btn-inverse[disabled],
.btn-inverse[disabled].active,
.btn-inverse[disabled].focus,
.btn-inverse[disabled]:active,
.btn-inverse[disabled]:focus,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse,
fieldset[disabled] .btn-inverse.active,
fieldset[disabled] .btn-inverse.focus,
fieldset[disabled] .btn-inverse:active,
fieldset[disabled] .btn-inverse:focus,
fieldset[disabled] .btn-inverse:hover {
    background-color: #354b5e;
    border-color: #263644
}
.btn-inverse .badge {
    color: #354b5e;
    background-color: #fff
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #30487b
}
.btn-facebook.active,
.btn-facebook.focus,
.btn-facebook:active,
.btn-facebook:focus,
.btn-facebook:hover,
.open>.dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #2d4373;
    border-color: #1e2e4f
}
.btn-facebook.active,
.btn-facebook:active,
.open>.dropdown-toggle.btn-facebook {
    background-image: none
}
.btn-facebook.disabled,
.btn-facebook.disabled.active,
.btn-facebook.disabled.focus,
.btn-facebook.disabled:active,
.btn-facebook.disabled:focus,
.btn-facebook.disabled:hover,
.btn-facebook[disabled],
.btn-facebook[disabled].active,
.btn-facebook[disabled].focus,
.btn-facebook[disabled]:active,
.btn-facebook[disabled]:focus,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook,
fieldset[disabled] .btn-facebook.active,
fieldset[disabled] .btn-facebook.focus,
fieldset[disabled] .btn-facebook:active,
fieldset[disabled] .btn-facebook:focus,
fieldset[disabled] .btn-facebook:hover {
    background-color: #3b5998;
    border-color: #30487b
}
.btn-facebook .badge {
    color: #3b5998;
    background-color: #fff
}
.btn-twitter {
    color: #fff;
    background-color: #00acee;
    border-color: #008fc5
}
.btn-twitter.active,
.btn-twitter.focus,
.btn-twitter:active,
.btn-twitter:focus,
.btn-twitter:hover,
.open>.dropdown-toggle.btn-twitter {
    color: #fff;
    background-color: #0087bb;
    border-color: #006288
}
.btn-twitter.active,
.btn-twitter:active,
.open>.dropdown-toggle.btn-twitter {
    background-image: none
}
.btn-twitter.disabled,
.btn-twitter.disabled.active,
.btn-twitter.disabled.focus,
.btn-twitter.disabled:active,
.btn-twitter.disabled:focus,
.btn-twitter.disabled:hover,
.btn-twitter[disabled],
.btn-twitter[disabled].active,
.btn-twitter[disabled].focus,
.btn-twitter[disabled]:active,
.btn-twitter[disabled]:focus,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter,
fieldset[disabled] .btn-twitter.active,
fieldset[disabled] .btn-twitter.focus,
fieldset[disabled] .btn-twitter:active,
fieldset[disabled] .btn-twitter:focus,
fieldset[disabled] .btn-twitter:hover {
    background-color: #00acee;
    border-color: #008fc5
}
.btn-twitter .badge {
    color: #00acee;
    background-color: #fff
}
.btn-transparent {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-width: 2px
}
.btn-transparent.active,
.btn-transparent.focus,
.btn-transparent:active,
.btn-transparent:focus,
.btn-transparent:hover,
.open>.dropdown-toggle.btn-transparent {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border-color: #e0e0e0
}
.btn-transparent.active,
.btn-transparent:active,
.open>.dropdown-toggle.btn-transparent {
    background-image: none
}
.btn-transparent.disabled,
.btn-transparent.disabled.active,
.btn-transparent.disabled.focus,
.btn-transparent.disabled:active,
.btn-transparent.disabled:focus,
.btn-transparent.disabled:hover,
.btn-transparent[disabled],
.btn-transparent[disabled].active,
.btn-transparent[disabled].focus,
.btn-transparent[disabled]:active,
.btn-transparent[disabled]:focus,
.btn-transparent[disabled]:hover,
fieldset[disabled] .btn-transparent,
fieldset[disabled] .btn-transparent.active,
fieldset[disabled] .btn-transparent.focus,
fieldset[disabled] .btn-transparent:active,
fieldset[disabled] .btn-transparent:focus,
fieldset[disabled] .btn-transparent:hover {
    background-color: transparent;
    border-color: #fff
}
.btn-transparent .badge {
    color: transparent;
    background-color: #fff
}
.btn-transparent:hover {
    background: rgba(0, 0, 0, .1)
}

.btn-transparent-dark {
    color: #333;
    background-color: transparent;
    border-color: #a0a0a0;
    border-width: 2px
}
.btn-transparent-dark.active,
.btn-transparent-dark.focus,
.btn-transparent-dark:active,
.btn-transparent-dark:focus,
.btn-transparent-dark:hover,
.open>.dropdown-toggle.btn-transparent-dark {
    color: #333;
    background-color: rgba(0, 0, 0, 0);
    border-color: #eeeeee
}
.btn-transparent-dark.active,
.btn-transparent-dark:active,
.open>.dropdown-toggle.btn-transparent-dark {
    background-image: none
}
.btn-transparent-dark.disabled,
.btn-transparent-dark.disabled.active,
.btn-transparent-dark.disabled.focus,
.btn-transparent-dark.disabled:active,
.btn-transparent-dark.disabled:focus,
.btn-transparent-dark.disabled:hover,
.btn-transparent-dark[disabled],
.btn-transparent-dark[disabled].active,
.btn-transparent-dark[disabled].focus,
.btn-transparent-dark[disabled]:active,
.btn-transparent-dark[disabled]:focus,
.btn-transparent-dark[disabled]:hover,
fieldset[disabled] .btn-transparent-dark,
fieldset[disabled] .btn-transparent-dark.active,
fieldset[disabled] .btn-transparent-dark.focus,
fieldset[disabled] .btn-transparent-dark:active,
fieldset[disabled] .btn-transparent-dark:focus,
fieldset[disabled] .btn-transparent-dark:hover {
    background-color: transparent;
    border-color: #333
}
.btn-transparent-dark .badge {
    color: transparent;
    background-color: #333
}
.btn-transparent-dark:hover {
    background: rgba(0, 0, 0, .1)
}


.btn-jumbo {
    padding: 13px 20px;
    font-size: 22px;
    line-height: 1.33;
}
.badge {
    font-weight: 600
}
.badge-primary {
    background-color: #d74b4b;
    color: #fff
}
.badge-secondary {
    background-color: #6685a4;
    color: #fff
}
.badge-tertiary {
    background-color: #bcbcbc;
    color: #fff
}
.label {
    font-weight: 600
}
.label-primary {
    background-color: #d74b4b;
    color: #fff
}
.label-secondary {
    background-color: #6685a4;
    color: #fff
}
.label-tertiary {
    background-color: #bcbcbc;
    color: #fff
}
.progress {
    background-color: #f5f5f5
}
.progress-bar-primary {
    background-color: #d74b4b
}
.progress-bar-secondary {
    background-color: #6685a4
}
.progress-bar-tertiary {
    background-color: #bcbcbc
}
.progress-sm {
    height: 12px
}
.progress-lg {
    height: 28px
}
.popover-title {
    font-size: 15px
}
.popover-content {
    font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
    font-size: 13px
}
.alert {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)
}
.alert strong {
    font-weight: 600
}
.alert-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #fff
}
.alert-success hr {
    border-top-color: #4cae4c
}
.alert-success .alert-link {
    color: #e6e6e6
}
.alert-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
    color: #fff
}
.alert-info hr {
    border-top-color: #46b8da
}
.alert-info .alert-link {
    color: #e6e6e6
}
.alert-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #fff
}
.alert-warning hr {
    border-top-color: #eea236
}
.alert-warning .alert-link {
    color: #e6e6e6
}
.alert-danger {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #fff
}
.alert-danger hr {
    border-top-color: #d43f3a
}
.alert-danger .alert-link {
    color: #e6e6e6
}
.form-group {
    margin-bottom: 25px
}
.form-control {
    padding-right: 6px;
    padding-left: 6px;
    -webkit-box-shadow: none;
    box-shadow: none
}
.control-label {
    font-weight: 600
}
.checkbox,
.radio {
    margin-bottom: 15px
}
.checkbox-inline,
.radio-inline {
    margin-right: 20px;
    margin-bottom: 20px
}
.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
    margin-left: 0
}
.form-horizontal .control-label {
    position: relative;
    top: 3px;
    text-align: right
}
.btn-facebook .caret,
.btn-primary .caret,
.btn-secondary .caret,
.btn-tertiary .caret,
.btn-twitter .caret {
    border-top-color: #fff
}
.dropup .btn-facebook .caret,
.dropup .btn-primary .caret,
.dropup .btn-secondary .caret,
.dropup .btn-tertiary .caret,
.dropup .btn-twitter .caret {
    border-bottom-color: #fff
}
.dropdown-menu>li {
    margin-right: .5em;
    margin-left: .5em
}
.dropdown-menu>li>a {
    padding: 6px 12px;
    font-size: 13px;
    outline: 0;
    border-radius: 4px
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: #ededed
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #444;
    background-color: #dbdbdb
}
.dropdown-header {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 11px;
    text-transform: uppercase
}
.dropdown-icon {
    width: 16px;
    margin-right: 8px;
    color: #444;
    font-size: 15px;
    text-align: center
}
.dropdown-submenu {
    position: relative
}
.dropdown-submenu>.dropdown-menu {
    display: none;
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block
}
.dropdown-submenu:hover>.dropdown-menu:after,
.dropdown-submenu:hover>.dropdown-menu:before {
    display: none
}
.mainnav .dropdown-submenu>.dropdown-menu,
.navbar .dropdown-submenu>.dropdown-menu {
    display: block;
    margin-top: -6px;
    margin-left: 20px
}
@media (min-width: 1700px){
.carousel-inner>.item {
	background:url(../../../../img/Dollarphotoclub_69122398.jpg); 
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	height:720px;
}	
}
@media (min-width: 768px) {
    .mainnav .dropdown-submenu>.dropdown-menu,
    .navbar .dropdown-submenu>.dropdown-menu {
        display: none;
        margin-left: -1px
    }
    .mainnav .dropdown-submenu:hover>.dropdown-menu,
    .navbar .dropdown-submenu:hover>.dropdown-menu {
        display: block
    }
    .dropdown-submenu>a:after {
        content: "";
        display: block;
        float: right;
        width: 0;
        height: 0;
        margin-top: 5px;
        margin-right: -10px;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc
    }
    .dropdown-submenu:hover>a:after {
        border-left-color: #d74b4b
    }
}
.table-bordered tfoot tr,
.table-bordered thead tr {
    background-color: #f2f2f2
}
.table-bordered tfoot tr th,
.table-bordered thead tr th {
    color: #444;
    background-color: transparent;
    border-bottom-width: 1px;
    vertical-align: middle;
    font-family: Oswald, 'Trebuchet MS', 'Open Sans', arial, sans-serif;
    font-weight: 500;
    font-size: 14px
}
.pagination>li {
    display: inline-block;
    margin: 0 3px
}
.pagination>li:first-child {
    margin-left: 0
}
.pagination>li:last-child {
    margin-right: 0
}
.pagination>li>a,
.pagination>li>span {
    color: #222;
    background-color: transparent;
    border-color: #ddd;
    border-radius: 4px
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: #fff;
    background-color: #d74b4b;
    border-color: #af2727;
    cursor: default
}
.pager>li>a {
    color: #222
}
.tab-content.stacked-content>.tab-pane {
    padding-top: 0
}
.tab-pane {
    position: relative
}
.nav-pills,
.nav-tabs {
    margin-bottom: 1.5em
}
.nav-pills .fa-caret-down,
.nav-tabs .fa-caret-down {
    margin-left: 3px
}
.nav-pills.nav-stacked>li {
    margin-right: 0;
    margin-bottom: .5em
}
.nav-pills.nav-stacked>li>a {
    padding: 10px 15px
}
.nav-pills>li {
    margin-right: 6px
}
.nav-pills>li>a {
    padding: 5px 12px;
    color: #444;
    background-color: #eee;
    border: 1px solid transparent
}
.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
    color: #444;
    background-color: #e4e4e4;
    border-color: transparent
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #d74b4b;
    border-color: transparent
}
.nav-tabs>li>a {
    color: #444;
    background-color: transparent
}
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    color: #444;
    background-color: #eee
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #d74b4b;
    background-color: #fff;
    font-weight: 600
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    color: #444;
    background-color: #eee;
    border-color: #d74b4b
}
.modal-backdrop {
    background-color: #fff
}
.modal-backdrop.in {
    opacity: .65;
    filter: alpha(opacity=65)
}
.lt-ie9 .modal-content {
    border-color: #ccc
}
.modal-styled .modal-header {
    color: #fff;
    background-color: #2b3d4c;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px
}
.modal-styled .modal-header .close {
    color: #7797b2;
    background-color: transparent;
    text-shadow: none;
    opacity: 1;
    filter: alpha(opacity=100)
}
.modal-styled .modal-header .close:hover {
    color: #fff;
    background-color: transparent
}
.modal-styled .modal-title {
    font-weight: 300
}
.modal-styled .modal-content {
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .15);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .15)
}
.modal-styled .modal-footer {
    color: #555;
    background-color: #f1f1f1;
    border-top-color: #ddd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}
.thumbnail-view {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in
}
.thumbnail-view img {
    max-width: 100%
}
.thumbnail-view .thumbnail-view-hover {
    display: block;
    position: absolute;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #111;
    background: rgba(0, 0, 0, .5);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}
.thumbnail-view .thumbnail-view-hover i,
.thumbnail-view .thumbnail-view-hover-lg i {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    color: #ddd;
    color: rgba(255, 255, 255, .6);
    font-size: 28px;
    line-height: 44px;
    text-align: center;
    background: 0 0;
    border: 3px solid #fff;
    border-color: rgba(255, 255, 255, .6);
    border-radius: 100px
}
.thumbnail-view .thumbnail-view-hover-lg i {
    width: 72px;
    height: 72px;
    margin-left: -36px;
    margin-top: -36px;
    font-size: 48px;
    line-height: 72px
}
.thumbnail-view:hover .thumbnail-view-hover {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0)
}
.thumbnail-footer {
    padding: 7px 10px;
    border-top: 1px dotted #ccc
}
.thumbnail-footer:after,
.thumbnail-footer:before {
    content: " ";
    display: table
}
.thumbnail-footer:after {
    clear: both
}
.thumbnail-footer a {
    color: #999;
    font-size: 12px
}
.thumbnail-footer a:hover {
    text-decoration: none;
    color: #d74b4b
}
.thumbnail-footer .pull-left a {
    padding: 0 12px 0 0
}
.thumbnail-footer .pull-right a {
    padding: 0 0 0 12px
}
.thumbnail-table .thumbnail {
    margin-bottom: 0
}
.accordion-panel .panel {
    border-color: #ddd
}
.accordion-panel .panel-heading {
    padding: 0
}
.accordion-panel .accordion-toggle {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    color: #555;
    background-color: #ebebeb;
    cursor: pointer
}
.accordion-panel .accordion-toggle:focus,
.accordion-panel .accordion-toggle:hover {
    text-decoration: none;
    outline: 0!important
}
.accordion-panel .panel.is-open {
    border-color: #ddd
}
.accordion-panel .panel.is-open .accordion-toggle {
    color: #fff;
    background-color: #354b5e;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px
}
.accordion-simple .panel+.panel {
    margin-top: 0
}
.accordion-simple .panel-heading {
    padding-right: 0;
    padding-left: 0
}
.accordion-simple .panel-body {
    padding-left: 25px
}
.accordion-simple .panel-title {
    position: relative;
    padding-left: 0;
    color: #444;
    font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
    font-size: 14px;
    line-height: 1.75em;
    letter-spacing: -1px
}
.accordion-simple .accordion-caret:before {
    content: "\f196";
    top: 1px;
    left: 0;
    margin-right: 8px
}
.accordion-simple .panel.is-open .accordion-caret:before {
    content: "\f146"
}
.accordion-caret:before {
    content: "\f0da";
    display: inline-block;
    position: relative;
    left: 2px;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    color: #d74b4b;
    font-size: 1.25em
}
.panel.is-open .panel-title {
    color: #444
}
.panel.is-open .accordion-caret:before {
    content: "\f0d7";
    left: 0;
    color: #d74b4b
}
.list-group .list-group-item .list-group-chevron {
    float: right;
    margin-top: 5px;
    color: #bbb
}
.list-group .list-group-item .badge {
    margin-top: 2px
}
.list-group .list-group-item .list-group-chevron+.badge {
    margin-right: 10px
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity
}
.carousel-fade .carousel-inner .active {
    opacity: 1
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1
}
.carousel-fade .carousel-control {
    z-index: 2
}
.container {
    position: relative
}
.content {
    position:relative;
    margin-bottom: 2em
}
.layout {
    margin-top: -40px;
    margin-left: -15px;
    margin-right: -15px
}
.layout-main {
    padding-top: 40px;
    padding-bottom: 26px
}
.layout-sidebar {
    padding-top: 40px;
    padding-bottom: 60px
}
.layout-main-left .layout-main {
    padding-right: 30px;
    padding-left: 15px
}
.layout-main-left .layout-sidebar {
    padding-right: 15px;
    padding-left: 30px;
    border-left: 1px solid #ccc;
    -webkit-box-shadow: inset 8px 0 15px -10px rgba(0, 0, 0, .2);
    box-shadow: inset 8px 0 15px -10px rgba(0, 0, 0, .2)
}
.layout-main-right .layout-main {
    padding-right: 15px;
    padding-left: 30px
}
.layout-main-right .layout-sidebar {
    padding-right: 30px;
    padding-left: 15px;
    border-right: 1px solid #ccc;
    -webkit-box-shadow: inset -8px 0 15px -10px rgba(0, 0, 0, .2);
    box-shadow: inset -8px 0 15px -10px rgba(0, 0, 0, .2)
}
.nav-layout-sidebar-skip {
    display: none;
    margin-bottom: 1em;
    font-size: 12px;
    text-align: center
}
.nav-layout-sidebar {
    position: relative;
    z-index: 101;
    margin: 0 0 2em;
    border-top: 1px solid #e5e5e5
}
.nav-layout-sidebar>li {
    padding: 0;
    margin: 0
}
.nav-layout-sidebar>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #666;
    border-bottom: 1px solid #e5e5e5;
    outline: 0
}
.nav-layout-sidebar>li>a .fa {
    position: relative;
    top: 1px;
    width: 1em;
    margin-right: 4px;
    font-size: 1.25em;
    text-align: center
}
.nav-layout-sidebar>li>a:hover {
    background-color: #f4f4f4
}
.nav-layout-sidebar>.active>a,
.nav-layout-sidebar>.active>a:focus,
.nav-layout-sidebar>.active>a:hover {
    color: #d74b4b;
    font-weight: 600;
    background-color: #fff
}
.nav-layout-sidebar>li+li {
    margin-top: 0
}
.layout-main-left .nav-layout-sidebar {
    margin-right: 0;
    margin-left: -31px
}
.layout-main-left .nav-layout-sidebar>li {
    margin: 0 0 0 1px
}
.layout-main-left .nav-layout-sidebar>.active {
    margin-left: 0
}
.layout-main-right .nav-layout-sidebar {
    margin-left: 0;
    margin-right: -31px
}
.layout-main-right .nav-layout-sidebar>li {
    margin: 0 1px 0 0
}
.layout-main-right .nav-layout-sidebar>.active {
    margin-right: 0
}
@media (max-width: 1200px) {
    .layout-stack-lg {
        margin-top: 0
    }
    .layout-stack-lg .layout-main,
    .layout-stack-lg .layout-sidebar {
        padding-top: 0
    }
    .layout-stack-lg .layout-main {
        padding-right: 15px;
        padding-left: 15px
    }
    .layout-stack-lg .layout-sidebar {
        padding-right: 15px;
        padding-left: 15px;
        border-right: none;
        border-left: none;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .layout-stack-lg .nav-layout-sidebar-skip {
        display: block
    }
    .layout-stack-lg .nav-layout-sidebar {
        margin-right: 0;
        margin-left: 0
    }
}
@media (max-width: 992px) {
    .layout-stack-md {
        margin-top: 0
    }
    .layout-stack-md .layout-main,
    .layout-stack-md .layout-sidebar {
        padding-top: 0
    }
    .layout-stack-md .layout-main {
        padding-right: 15px;
        padding-left: 15px
    }
    .layout-stack-md .layout-sidebar {
        padding-right: 15px;
        padding-left: 15px;
        border-right: none;
        border-left: none;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .layout-stack-md .nav-layout-sidebar-skip {
        display: block
    }
    .layout-stack-md .nav-layout-sidebar {
        margin-right: 0;
        margin-left: 0
    }
}
@media (max-width: 768px) {
    .layout-stack-sm {
        margin-top: 0
    }
    .layout-stack-sm .layout-main,
    .layout-stack-sm .layout-sidebar {
        padding-top: 0
    }
    .layout-stack-sm .layout-main {
        padding-right: 15px;
        padding-left: 15px
    }
    .layout-stack-sm .layout-sidebar {
        padding-right: 15px;
        padding-left: 15px;
        border-right: none;
        border-left: none;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .layout-stack-sm .nav-layout-sidebar-skip {
        display: block
    }
    .layout-stack-sm .nav-layout-sidebar {
        margin-right: 0;
        margin-left: 0
    }
}
@media (max-width: 480px) {
    .layout-stack-xs {
        margin-top: 0
    }
    .layout-stack-xs .layout-main,
    .layout-stack-xs .layout-sidebar {
        padding-top: 0
    }
    .layout-stack-xs .layout-main {
        padding-right: 15px;
        padding-left: 15px
    }
    .layout-stack-xs .layout-sidebar {
        padding-right: 15px;
        padding-left: 15px;
        border-right: none;
        border-left: none;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .layout-stack-xs .nav-layout-sidebar-skip {
        display: block
    }
    .layout-stack-xs .nav-layout-sidebar {
        margin-right: 0;
        margin-left: 0
    }
}
.icons-list {
    padding: 0px !important;
    margin: 0 0 10px;
    list-style: none
}
.icons-list>li {
    position: relative;
    padding-left: 2.2em;
    margin-bottom: 1em;
	font-size:11px;
	line-height:1.5em;
}
.icons-list>li>.icon-li {
    position: absolute;
    top: .25em;
    left: 0;
    width: 1em;
    text-align: center;
	font-size:13px;
}
.pricing-plan {
    position: relative;
    display: block;
    vertical-align: top;
    width: 100%;
    padding: 15px;
    margin-bottom: 2em;
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px
}
.pricing-header {
    padding: 15px;
    margin: -25px -15px 15px;
    color: #87a3bc;
    background-color: #333333;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px
}
.pricing-plan-help {
    border-bottom: 1px dotted #000;
    cursor: help
}
.pricing-plan-help strong.ui-popover {
    border-bottom: 1px dotted #000
}
.pricing-plan-label {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 13px
}
.pricing-plan-title {
    margin-top: 0;
    margin-bottom: 6px;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase
}
.pricing-plan-price {
    display: block;
    padding: 10px;
    margin: -15px -15px 0;
    color: #555;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd
}
.pricing-plan-amount {
    color: #449d44;
    font-size: 24px;
    font-weight: 400
}
.pricing-plan-details {
    padding: .5em 0 0;
    margin: 0 0 1em
}
.pricing-plan-details li {
    padding-top: .5em;
    padding-bottom: .5em;
    list-style: none;
    border-bottom: 1px dotted #ddd
}
.pricing-plan hr {
    margin-top: 10px;
    margin-bottom: 10px
}
.pricing-plan-current,
.pricing-plan-current:hover {
    color: #333;
    font-weight: 800;
    text-decoration: none;
    cursor: default
}
.pricing-plan-ribbon,
.pricing-plan-ribbon-current,
.pricing-plan-ribbon-primary,
.pricing-plan-ribbon-secondary,
.pricing-plan-ribbon-tertiary {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 15px;
    width: 28px;
    padding: 8px 0 12px;
    color: #fff;
    background-color: #777
}
.pricing-plan-ribbon-current:before,
.pricing-plan-ribbon-primary:before,
.pricing-plan-ribbon-secondary:before,
.pricing-plan-ribbon-tertiary:before,
.pricing-plan-ribbon:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 6px solid #333333;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent
}
.pricing-plan-ribbon-primary {
    background-color: #d74b4b
}
.pricing-plan-ribbon-secondary {
    background-color: #6685a4
}
.pricing-plan-ribbon-tertiary {
    background-color: #bcbcbc
}
.pricing-plan-ribbon-current {
    background-color: #3d576d;
    color: #d74b4b
}
@media (min-width: 768px) {
    .pricing-plan {
        max-width: 300px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-right: auto;
        margin-left: auto
    }
    .pricing-plan hr {
        margin-top: 20px;
        margin-bottom: 20px
    }
    .pricing-plan-amount {
        font-size: 32px
    }
    .pricing-plan-details {
        margin: 0 0 2em
    }
    .pricing-plan-details li {
        padding-top: 1.25em;
        padding-bottom: 1.25em
    }
}
.heading-block {
    position: relative;
    margin-bottom: 30px;
    text-align: left
}
.heading-block h1,
.heading-block h2,
.heading-block h3,

.heading-block h5,
.heading-block h6 {
    margin-bottom: 0;
    color: #333333
}
.heading-block h4 {
	margin-bottom: 0;
    color: #333333;
	font-size: 15px;
}
.heading-block:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    z-index: 9;
    background: #e6e6e6
}
.heading-block:after {
    content: "";
    display: block;
    position: relative;
    z-index: 10;
    width: 80px;
    height: 1px;
    margin: 20px 0 0
}
.heading-block.heading-minimal {
    margin-bottom: 90px
}
.heading-block.heading-minimal:after,
.heading-block.heading-minimal:before {
    height: 2px
}
.heading-block.heading-minimal:before {
    display: none
}
.heading-block.heading-minimal:after {
    margin-top: 40px
}
.heading-block.heading-center {
    text-align: center
}
.heading-block.heading-center:after {
    margin-right: auto;
    margin-left: auto
}
#back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1001;
    width: 30px;
    height: 30px;
    display: block;
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(43, 61, 76, .85);
    border-radius: 3px;
    cursor: pointer;
    transition: background .25s linear
}
#back-to-top:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(215, 75, 75, .85)
}
#back-to-top i {
    color: #fff
}
@media (min-width: 768px) {
    #back-to-top {
        width: 45px;
        height: 45px;
        font-size: 16px;
        line-height: 45px
    }
}
.account-bg {
    background-color: #eee
}
.account-wrapper {
    position: relative;
    width: 90%;
    padding: 0;
    margin: 0 auto;
    text-align: center
}
.account-wrapper .row>div {
    margin-bottom: 1em
}
.account-form {
    padding: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: left
}
.account-form .placeholder-hidden {
    display: none
}
.account-form .form-control {
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 1.25em
}
.account-body {
    position: relative;
    padding: 35px 30px 10px;
    margin-bottom: 1em;
    color: #444;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .15)
}
.account-footer {
    padding: 0 25px;
    margin-top: 1.5em
}
.account-or-social {
    display: block;
    margin-top: 1em
}
@media (min-width: 768px) {
    .account-wrapper {
        width: 500px;
        padding: 0
    }
    .account-wrapper .row>div {
        margin-bottom: 0
    }
    .account-body .account-form {
        padding: 0 25px;
        text-align: left
    }
    .account-or-social {
        margin-top: 2em
    }
}
.comment-list {
    padding: 0;
    margin: 0;
    list-style-type: none
}
.comment-list>li {
    position: relative;
    padding-bottom: 0;
    margin-top: 0;
    border-bottom: 1px dotted #CCC
}
.comment-list>li:last-child {
    border-bottom: none
}
.comment-list .comment {
    padding: 25px 20px;
    margin: 0 0 0 50px
}
.comment-list .comment-avatar {
    position: absolute;
    left: 0;
    width: 55px
}
.comment-list .comment-avatar .avatar {
    width: 55px;
    height: 55px;
    padding: 2px;
    background: #fff;
    border: 4px solid #f4f3ef;
    border-radius: 4px
}
.comment-list .comment-avatar.post-author .avatar {
    border-color: #d74b4b
}
.comment-list .comment-meta {
    margin-bottom: 10px
}
.comment-list .comment-meta a {
    color: #999
}
.comment-list .comment-body p:last-child {
    margin-bottom: 0
}
.comment-list .comment-author {
    margin: 0 5px 0 0
}
.comment-list .comment-author,
.comment-list .comment-author a {
    color: #3f3e3c;
    font-weight: 800
}
.comment-list>li .comment-list {
    padding-left: 65px;
    margin: 0
}
.comment-list>li .comment-list>li:last-child {
    border-bottom: none
}
.clients-list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center
}
.clients-list>li {
    display: inline-block;
    height: auto;
    margin: 0 5px;
    list-style-type: none;
    line-height: auto;
    text-align: center;
    opacity: .75;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}
.clients-list>li:hover {
    opacity: 1
}
.clients-list>li img {
    margin-bottom: 0;
    border-radius: 3px
}
.testimonial {
    position: relative;
    margin-top: 22px
}
.testimonial-icon {
    position: absolute;
    top: -18px;
    left: 50%;
    z-index: 21;
    width: 36px;
    height: 36px;
    margin-left: -18px;
    text-align: center;
    line-height: 36px;
    border-radius: 3px
}
.testimonial-icon i {
    color: #fff;
    font-size: 18px
}
.testimonial-content {
    position: relative;
    padding: 30px 15px 25px;
    text-align: center;
    line-height: 1.75em;
    border: 1px solid #ddd;
    border-radius: 5px
}
.testimonial-content:before {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 20px;
    z-index: 21;
    width: 0;
    height: 0;
    display: n;
    border-left: 11px solid transparent;
    border-top: 12px solid #fff
}
.testimonial-content:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15px;
    left: 18px;
    border-left: 15px solid transparent;
    border-top: 15px solid #e4e4e4;
    width: 0;
    height: 0
}
.testimonial-author {
    display: table;
    margin: 25px 0 0 4px
}
.testimonial-image {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: auto;
    height: auto
}
.testimonial-image img {
    width: 60px;
    height: 60px;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 50px
}
.testimonial-author-info {
    display: table-cell;
    vertical-align: middle;
    padding-top: 0;
    padding-left: 15px
}
.testimonial-author-info h5 {
    margin-bottom: 10px
}
@media (min-width: 768px) {
    .testimonial {
        margin-bottom: 0
    }
}
.blog-search {
    position: relative
}
.blog-search .form-control {
    height: 40px;
    border-color: #eaeaea;
    border-width: 4px
}
.blog-search .form-control:focus {
    border-color: #e39c88;
    box-shadow: none
}
.blog-search .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: 0 0
}
.blog-ul {
    margin-left: 20px;
    color: #444
}
.blog-ul>li {
    margin-bottom: 10px
}
.blog-ul>li>a {
    color: #666
}
.blog-ul>li>a:hover {
    color: #888
}
.blog-ul>li>.fa-li {
    top: 5px;
    color: #d74b4b;
    font-size: 12px
}
ul.blog-popular-posts {
    padding: 12px 0 0;
    margin: 0
}
ul.blog-popular-posts>li {
    padding: 0;
    margin: 0 0 1em;
    list-style-type: none;
    *zoom: 1;
    display: table
}
ul.blog-popular-posts>li:last-child {
    margin-bottom: 0
}
ul.blog-popular-posts>li .recent-post-thumbnail {
    display: table-cell;
    vertical-align: top;
    width: 60px;
    padding: 4px
}
ul.blog-popular-posts>li .recent-post-thumbnail img {
    width: 60px;
    height: 60px;
    border: 4px solid #EEE;
    border-radius: 4px
}
ul.blog-popular-posts>li .recent-post-title {
    display: table-cell;
    vertical-align: top;
    padding-top: 5px;
    padding-left: 8px
}
ul.blog-popular-posts>li .recent-post-title h4 {
    font-size: 13px;
    font-weight: 400;
    padding-top: 2px;
    margin-bottom: 3px;
    line-height: 1.1
}
ul.blog-popular-posts>li .recent-post-title .recent-post-meta {
    font-size: 12px;
    font-style: italic
}
ul.blog-stats {
    padding: 0;
    margin: 0 0 -2.5em
}
ul.blog-stats:after,
ul.blog-stats:before {
    content: " ";
    display: table
}
ul.blog-stats:after {
    clear: both
}
ul.blog-stats>li {
    position: relative;
    float: left;
    width: 50%;
    padding: 0 0 0 50px;
    margin: 0 0 2.5em;
    list-style-type: none
}
ul.blog-stats>li>a {
    display: block
}
ul.blog-stats>li>a .blog-stats-count {
    display: block;
    color: #222;
    font-size: 18px
}
ul.blog-stats>li>a .blog-stats-label {
    color: #999
}
ul.blog-stats>li>a .blog-stats-mark {
    position: absolute;
    top: 1px;
    left: 0;
    width: 40px;
    height: 40px;
    vertical-align: top;
    color: #fff;
    font-size: 20px;
    text-align: center;
    background-color: #354b5e;
    border-radius: 100px
}
ul.blog-stats>li>a .blog-stats-mark>i {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    line-height: 40px
}
ul.blog-stats>li>a:hover {
    text-decoration: none
}
ul.blog-stats>li>a:hover .blog-stats-count {
    color: #444
}
ul.blog-stats>li>a:hover .blog-stats-label {
    color: #666
}
ul.blog-stats>li>a:hover .blog-stats-mark {
    color: #fff;
    background-color: #435f76
}
.posts .post {
    margin: 0 auto 65px
}
.posts .post:last-child {
    margin-bottom: 35px
}
.post {
    display: table;
    width: 100%;
    padding-right: 25px
}
.post-main {
    display: table-cell;
    vertical-align: top;
    padding-top: 5px;
    padding-left: 25px
}
.post-aside {
    display: table-cell;
    vertical-align: top;
    width: 50px
}
.post-title {
    color: #354b5e;
    font-size: 24px
}
.post-title a {
    color: #354b5e
}
.post-title a:hover {
    color: #2a3b4a
}
.post-meta {
    margin-bottom: 23px;
    color: #aaa;
    font-size: 16px
}
.post-meta a,
.post-meta a:hover {
    color: #888
}
.post-date {
    width: 50px;
    padding: 4px 0;
    margin-bottom: 1.1em;
    background: #d74b4b;
    text-align: center;
    border-radius: 4px
}
.post-date-day,
.post-date-month,
.post-date-year {
    display: block;
    padding: 5px 0;
    margin: 0;
    line-height: 1em;
    background: 0 0
}
.post-date-day {
    color: #fff;
    font-size: 20px
}
.post-date-month {
    color: #fff;
    font-size: 13px;
    font-weight: 600
}
.post-date-year {
    color: #9a2222;
    font-size: 14px;
    font-weight: 600
}
.post-content {
    margin-top: 20px
}
.post-comment {
    display: block;
    position: relative;
    padding-top: 32px;
    color: #bbb;
    font-size: 18px;
    font-weight: 600;
    text-align: center
}
.post-comment:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 23px;
    margin-left: -15px;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 3px
}
.post-comment:after {
    content: "";
    display: block;
    position: absolute;
    top: 19px;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-left: -3px;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}
.post-comment:hover {
    color: #777;
    text-decoration: none
}
.post-comment:hover:before {
    background: #fff;
    border-color: #aaa
}
.post-comment:hover:after {
    background: #fff;
    border-bottom-color: #aaa;
    border-right-color: #aaa
}
.post-img {
    width: 100%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 5px
}
.feature-sm {
    padding: 0 10px;
    margin-bottom: 30px;
    text-align: center
}
.feature-sm-icon {
    margin-bottom: 20px;
    font-size: 48px
}
.feature-sm-label {
    font-size: 18px
}
.feature-sm-content {
    color: #777;
    text-align: center
}
.feature-lg .feature-figure {
    margin-left: auto;
    margin-right: auto;
}
.feature-lg .feature-content {
    padding-top: 40px
}
.feature-lg.figure-right .feature-figure {
    padding-right: 0;
    padding-left: 30px
}
@media (min-width: 992px) {
    .feature-sm {
        padding: 0 25px;
        text-align: center
    }
}
.valign-top {
    vertical-align: top!important
}
.valign-middle {
    vertical-align: middle!important
}
.valign-bottom {
    vertical-align: bottom!important
}
.chart-bg {
    padding: 30px 30px 20px;
    border-radius: 4px
}
.chart-bg .tickLabel {
    color: #fff
}
.bg-primary {
    background-color: #d74b4b
}
.bg-secondary {
    background-color: #6685a4
}
.bg-tertiary {
    background-color: #bcbcbc
}
.bg-success {
    background-color: #5cb85c
}
.bg-danger {
    background-color: #d9534f
}
.bg-warning {
    background-color: #f0ad4e
}
.bg-info {
    background-color: #5bc0de
}
.chart-holder,
.chart-holder-200,
.chart-holder-250,
.chart-holder-300,
.chart-holder-350 {
    width: 98%;
    margin: 0 auto
}
.chart-holder {
    height: 300px
}
.chart-holder-200 {
    height: 200px
}
.chart-holder-250 {
    height: 250px
}
.chart-holder-300 {
    height: 300px
}
.chart-holder-350 {
    height: 350px
}
.clear {
    clear: both
}
.required {
    color: #d9534f
}
hr.spacer-lg,
hr.spacer-md,
hr.spacer-sm,
hr.spacer-xl,
hr.spacer-xxl,
hr.spacer-xs {
    margin-top: 0;
    margin-bottom: 0;
    border: none
}
hr.spacer-xxl {
    height: 120px
}
hr.spacer-xl {
    height: 70px
}
hr.spacer-lg {
    height: 50px
}
hr.spacer-md {
    height: 40px
}
hr.spacer-sm {
    height: 30px
}
hr.spacer-xs {
    height: 15px
}
iframe {
    border: none
}
.navbar {
    margin-bottom: 0;
    background-color: #ffffff;
    border: none;
    border-radius: 0
}
.white-bg {
    background-color: #FFFFFF
}
.dark-bg {
    background-color: #333333;
	height:60px;
}
.label-bar {
	vertical-align:middle;
   margin-bottom: 0;
   padding-top:10px;
   padding-bottom:10px
}
.navbar .dropdown-menu>li>a {
    font-size: 14px
}
.navbar-header {
    padding-top: 6px;
    padding-bottom: 6px
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0
}
.navbar-toggle {
    position: relative;
    top: 5px;
    right: 10px;
    height: auto;
    padding: 5px 15px;
    margin-top: 0;
    margin-right: 0;
	float:right;
    font-size: 20px;
    line-height: inherit
}
.navbar-nav>li>a {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "HelveticaNeueLTStd","Helvetica Neue" , arial, sans-serif;
    border: none
}
.navbar-nav>li>a:hover {
    color: #888;
    background: #eee
}
.navbar-nav>li.active>a,
.navbar-nav>li.active>a:hover {
    color: #d74b4b;
    background: 0 0;
    border-bottom: none
}
.navbar-brand:hover {
    background: 0 0
}
.navbar-caret {
    position: relative;
    top: -1px;
    margin-left: 6px
}
@media (min-width: 768px) {
    .navbar {
        height: 85px;
        padding-top: 23px
    }
    .navbar-header {
        padding-top: 0;
        padding-bottom: 0
    }
    .navbar-brand {
        margin-top: -7px
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media (min-width: 992px) {
    .fixed-navbar {
        padding-top: 85px
    }
    .fixed-navbar .navbar {
        position: fixed;
        top: 0;
        z-index: 51;
        width: 100%;
        border-bottom: 1px solid #ddd
    }
}
.dark {
background-color:#fff;	
}
.dark2 {
background-color:#eee;	
}
.masthead {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.masthead iframe {
    border: none
}
.masthead-blurb {
    width: 300px
}
.masthead-blurb-big {
    width: 600px
}
h1.masthead-title,
h2.masthead-title,
h3.masthead-title,
h4.masthead-title,
h5.masthead-title,
h6.masthead-title {
    font-family: "HelveticaNeueLTStd","Helvetica Neue" , arial, sans-serif;
    font-weight: 600;
}
h1.masthead-title {
    font-size: 56px
}
h2.masthead-title {
    font-size: 50px
}
h3.masthead-title {
    font-size: 44px
}
h4.masthead-title {
    font-size: 38px
}
h5.masthead-title {
    font-size: 32px
}
h6.masthead-title {
    font-size: 26px
}
.masthead-subtitle {
    padding: 20px 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 300
}
.masthead-form {
    width: 90%;
    padding-bottom: 6px;
    margin: 0 auto;
    text-align: left
}
.masthead-form .form-group {
    margin-bottom: 16px
}
.masthead-text {
    padding-top: 15px;
    color: #333;
    font-size: 15px
}
.masthead-text-2 {
    padding-top: 15px;
    color: #fcfcfc;
    font-size: 15px;
	text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.5);
}
.masthead-img {
    text-align: center
}
.masthead-img img {
    margin: 0 auto
}
.masthead-actions .btn {
    margin-right: .75em
}
.masthead-actions .btn:last-child {
    margin-right: 0
}
@media (min-width: 768px) {
    .masthead-subtitle {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 32px
    }
    .masthead-form {
        width: 70%
    }
}
.masthead-carousel .carousel-controls {
    position: absolute;
    bottom: 25px
}
.masthead-carousel .carousel-control {
    position: static;
    display: inline-block;
    width: 32px;
    height: 32px
}
.masthead-carousel .carousel-control.left,
.masthead-carousel .carousel-control.right {
    background: rgba(0, 0, 0, .32);
    filter: none;
    border-radius: 3px
}
@media (max-width: 991px) {
    h1.masthead-title,
    h2.masthead-title {
        font-size: 40px
    }
    h3.masthead-title,
    h4.masthead-title {
        font-size: 32px
    }
    h5.masthead-title,
    h6.masthead-title {
        font-size: 24px
    }
    .masthead-actions,
    .masthead-text {
        text-align: center
    }
    .masthead-actions .btn {
        margin: 0 5px .75em
    }
}
.content {
    margin-bottom: 0
}
.home-section {
    position: relative;
    padding-top: 25px;
    padding-bottom: 45px;
    margin-top: 0;
    margin-bottom: 0
}
.home-section:first-child {
    padding-top: 40px;
    margin-top: -40px;
    border-top: none
}
.home-section:last-child {
    margin-bottom: -40px
}

@media (min-width: 768px) {
    .home-section {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 0;
        margin-bottom: 0;
		background-color:#fff
    }
}
.footer {
    padding: 30px 0 0;
    color: #fff;
    background: #333333
}
.footer a {
    color: #fefefe
}
.footer a:hover {
    color: #b3c5d4
}
.footer .heading-block h1,
.footer .heading-block h2,
.footer .heading-block h3,
.footer .heading-block h4,
.footer .heading-block h5,
.footer .heading-block h6 {
    color: #fff
}
.footer .heading-block:before {
    background: #3b5368
}
.footer .heading-block:after {
    background: #d74b4b
}
.footer .content-title {
    border-bottom-color: #3b5368
}
.footer .container>.row>div {
    margin-bottom: 50px
}
.copyright {
    color: #fff;
    line-height: 59px;
    background: #333333
}
.copyright:after,
.copyright:before {
    content: " ";
    display: table
}
.copyright:after {
    clear: both
}
.copyright p {
    margin-bottom: 0
}
.copyright a {
    color: #8ba6bd
}
.copyright a:hover {
    color: #abbfd0
}